<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap.css">
    <script src="bootstrap-3.4.1-dist/js/bootstrap.js"></script>
</head>
<body>
  <div class="container" th:fragment="carousel">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
              <div class="item active">
                  <img src="img/product/33.png" class="img-responsive center-block" alt="First slide" >
                  <div class="carousel-caption">
                      <h3>地球仪猫</h3>
                      <p>爱玩地球仪的猫咪</p>
                  </div>
              </div>
              <div class="item">
                  <img src="img/product/46.png" class="img-responsive center-block" alt="Second slide" >
                  <div class="carousel-caption">
                      <h3>抓虫子猫</h3>
                      <p>爱抓虫不爱吃虫的虫子猫</p>
                  </div>
              </div>
              <div class="item">
                  <img src="img/product/45.png" class="img-responsive center-block" alt="Third slide" >
                  <div class="carousel-caption">
                      <h3>学习猫</h3>
                      <p>常年霸榜年级第一的学习猫</p>
                  </div>
              </div>
              ...
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>

</body>
<style>
</style>
</html>