<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap.css">
    <script src="bootstrap-3.4.1-dist/js/bootstrap.js"></script>
</head>
<body>
<div class="row" th:fragment="footer">
    <div class="col-md-6 col-md-offset-5">
        <h3>Design by mmh <small>电话:17520403620</small></h3>
        <h4>Design by mmh <small>邮箱：1062403648@qq.com</small></h4>
        <h5>Design by mmh <small>Java后端开发实习生</small></h5>
    </div>
</div>

</body>
</html>